@import url('https://fonts.googleapis.com/css?family=Lora');

body{
  background-color: #2c202f;
  overflow-x: hidden;
}
p.tweet{
  background: #fff;
  font-family: 'Lora', serif;
  text-align: center;
  border:none;
  transform: translateY(-60%) translateX(15%);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top:360px;
  padding: 3rem;
  border-radius: 10px;
  font-weight: 500;
 animation:  slide 2.25s ease-in;
}

p span{
  color: #000;
  text-align: justify;
  margin-top: 20px;
  float: left;
  padding-left: 4px;
}
img{
  border-radius: 10px;
  float: left;
}



@-webkit-keyframes slide {
  from{left: 100%;}
  to{left: 0%;}
}
@keyframes slide {
  from{left: 100%;}
  to{left: 0%;}
}
